<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/master.css">
    <title></title>
  </head>
  <body style="background-color: #303030;">
    <header>

      <h1 style="color: #bababa"class="regularh1">About us</h1>

      <p class="aboutpara" style="margin-left: 50px; margin-right: 50px;">Here at Change For Chowder we take pride in knowing that your money is going to a good place. Us, like most, started off as some kids with a dream. Our dream was to make
      sure that everyone has a place they feel welcome. We were insipired by our dear friend Chowder to make this website and start our campaign. We take your money and put it back into the places
      that really matter, no politics involved.</p>
      <div style="text-align: center; margin-top: 50px;">
        <a class="directoryButton" href="{{ url_for('home') }}">Back</a>
      </div>
      <img style="margin-left: 150px; margin-top: 100px; margin-bottom: 100px;"src="../static/Photos/kidsCarryingWater2.jpeg" alt="Kids carrying water">
    </header>
  </body>
</html>
