<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/master.css">
    <title></title>
  </head>
  <body style="background-color: #303030">
    <h1 style="color: #bababa"class="regularh1">Donate</h1>

    <p class="aboutpara" style="margin-left: 50px; margin-right: 50px;">This page is still under maintenance</p>

    <div style="text-align: center; margin-top: 50px;">
      <a class="directoryButton" href="{{ url_for('home') }}">Back</a>
    </div>
  </body>
</html>
