<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/master.css">
    <title>Change For Chowder</title>
  </head>
  <body style="background-color: #c2c2c2;">
    <header id="bannerimage">
      <h1 class="specialh1">Change For Chowder</h1>
      <h3 class="specialh3">Donate Today</h3>
    </header>

    <h1 class="Directory">Directory</h1>
    <div style="text-align: center;">
      <a class="directoryButton"href="{{ url_for('aboutUs')}}">About Us</a>
      <a class="directoryButton"href="{{ url_for('donate')}}">Donate</a>
      <a class="directoryButton"href="{{ url_for('photoGallery')}}">Photo Gallery</a>
    </div>

    <p style="padding: 80px;"></p>
  </body>
</html>
