<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/master.css">
    <title>Change For Chowder</title>
  </head>
  <body>
    <header id="bannerimage">
      <h1>Change For Chowder</h1>
      <h3>Donate Today</h3>
    </header>

    <h1 class="Directory">Directory</h1>
    <div style="text-align: center;">
      <button type="button" class="directoryButton" name="button">About Us</button>
      <button type="button" class="directoryButton" name="button"> Donate </button>

    </div>

    <script type="text/javascript">
    var adfly_id = 22998581;
    var adfly_advert = 'int';
    var popunder = true;
    var domains = ['depositfiles.com', 'rapidshare.com', 'vip-file.com', 'smsfiles.ru', '4files.net', 'turbobit.ru', 'uploading.com', 'letitbit.net', 'depositfiles.ru', 'sms4file.com', 'ifolder.ru', 'hotfile.com', 'anyfiles.net', 'sharingmatrix.com', 'megashare.com', 'megaupload.com', 'rapidshare.de', 'rapidshare.ru', 'uploadbox.com', 'filefactory.com', 'filefactory.ru', 'filepost.ru', 'onefile.net', 'freefolder.net', 'getthebit.com', 'turbobit.net'];
</script>
<script src="https://cdn.adf.ly/js/link-converter.js"></script>
    <p style="padding: 80px;"></p>
  </body>
</html>
