<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/master.css">
    <title>Change For Chowder</title>
  </head>
  <body>
    <header id="bannerimage">
      <h1>Change For Chowder</h1>
      <h3>Donate Today</h3>
    </header>

    <h1 class="Directory">Directory</h1>
    <div style="text-align: center;">
      <button type="button" class="directoryButton" name="button">About Us</button>
      <button type="button" class="directoryButton" name="button"> Donate </button>

    </div>

    <p style="padding: 80px;"></p>
  </body>
</html>
